[Unit]
Description=Apache Kafka
Requires=network.target
After=network.target

[Service]
Type=simple
username={{ username }}
usergroup={{ usergroup }}
Environment=LOG_DIR={{ kafka_logs_dir }}
ExecStart={{ kafka_install_dir }}/bin/kafka-server-start.sh {{ kafka_install_dir }}/config/server.properties
ExecStop={{ kafka_install_dir }}/bin/kafka-server-stop.sh
Restart=on-failure

[Install]
WantedBy=multi-username.target