[Unit]
Description=Logstash
StartLimitIntervalSec=30
StartLimitBurst=3

[Service]
Type=simple
username={{username}}
usergroup={{usergroup}}
ExecStart={{logstash_install_dir}}/bin/logstash
Restart=always

[Install]
WantedBy=multi-username.target