JAVA_HOME={{jdk_install_dir}}
LS_HOME={{logstash_install_dir}}
LS_SETTINGS_DIR={{logstash_conf_dir}}
LS_PIDFILE={{logstash_data_dir}}/logstash.pid
LS_USER={{username}}
LS_GROUP={{usergroup}}
LS_GC_LOG_FILE={{logstash_logs_dir}}/gc.log
LS_OPEN_FILES=16384
LS_NICE=19
SERVICE_NAME=logstash
SERVICE_DESCRIPTION=logstash
